@import "tailwindcss";

@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

html, body {
  @apply min-h-screen transition-colors duration-300;
}

body {
  @apply bg-gray-50 dark:bg-[#0d1117] text-gray-900 dark:text-gray-100;
}

button {
  @apply rounded-none hover:cursor-pointer 
         focus:outline-none focus:ring-0 focus:ring-offset-0 
         active:outline-none active:ring-0 active:ring-offset-0;
}